pkgbase = siera
	pkgdesc = A CLI tool for Hyperledger Aries written in Rust
	pkgver = 0.2.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = cargo
	provides = siera
	source = https://github.com/animo/siera-cli/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = d4315c22d10219771d40be80c463d66eaa6bbc00e165d7302ac1fb96a38b5847

pkgname = siera
